@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;

  --color-primary: #4f46e5; /* bg-indigo-500 */
  --color-sidebar: #0f172a; /* bg-slate-900 */
  --color-sideover: #1e293b;
  --color-bgsoft: #f1f5f9;
}

@layer utilities {
  .bg-primary {
    background-color: var(--color-primary);
  }

  .text-primary {
    color: var(--color-primary);
  }
}
